@media only screen and (max-width: 480px) {
    body {
        font-family: 'Nunito Sans', sans-serif;
        color: #b8c1ec;

    }

    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 auto;

    }

    .row {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lessons .col {
        width: 100%;
        margin: 20px;

        .steps .col {
            width: 100%;
            margin: 15px;
        }

        .why-us .col-left {
            width: 100%;
            margin: 15px;
        }

        .why-us .col-right {
            width: 100%;
            margin: 25px;


        }

        .why-us {
            padding: 10%;
            margin-top: -50px;
            background-color: rgb(29, 29, 29);
            height: 100%;
        }

    }