@media only screen and (max-width: 480px) {

    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 auto;

    }

    .row {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lessons .col {
        width: 100%;
        margin: 20px;
        padding-bottom: 100px;
    }

    .steps .col {
        width: 100%;
        margin: 15px;
    }

    .why-us .col-left {
        width: 100%;
        margin: 15px;
    }

    .why-us .col-right {
        width: 100%;
        margin: 25px;


    }

    .why-us {
        width: 100%;
        padding: 10%;
        margin-top: -50px;
        background-color: rgb(29, 29, 29);
        margin-bottom: 0;

    }

}